@using System.Configuration
@model AzureTest.Web.Models.Home.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home page for AzureTest (MyFeature)</h1>
<p>Current environment is: <strong>@ConfigurationManager.AppSettings["AppEnvironment"]</strong></p>
<p>@Model.CurrentDateTime</p>
