@model AzureTest.Web.Models.Home.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home page for AzureTest [modified by test feature #2]</h2>
<p>@Model.CurrentDateTime</p>
